---
import MainLayout from "../layouts/MainLayout.astro";
---

<MainLayout class="home">
  <a tabindex="1" class="skip-to-content" href="#main">Skip to content</a>
  <main id="main" class="grid grid-layout">
    <div>
      <h1 class="text-accent ff-sans-cond uppercase letter-spacing-1">
        So, you want to travel to <span class="d-block fs-900 ff-serif text-white">Space</span>
      </h1>
      <p>
        Let’s face it; if you want to go to space, you might as well genuinely go to outer space and not hover kind of on the edge of it.
        Well sit back, and relax because we’ll give you a truly out of this world experience!
      </p>
    </div>

    <a href="/destination" class="round-button large-button uppercase ff-serif fs-600 text-dark bg-white">Explore</a>
  </main>
</MainLayout>

<style>
  .grid-layout {
    text-align: center;
    place-items: center;
    padding-inline: 1rem;
    padding-bottom: 4rem;
    --row-gap: 2.5rem;
  }

  .skip-to-content {
    position: absolute;
    z-index: 9999;
    background: hsl(var(--clr-white));
    color: hsl(var(--clr-dark));
    padding: 0.5em 1em;
    margin-inline: auto;
    transform: translateY(-100%);
    transition: transform 200ms ease-out;
  }

  .skip-to-content:focus {
    transform: translateY(0);
  }

  .home {
    background-image: url(../assets/home/background-home-mobile.jpg);
  }

  @media (min-width: 35em) {
    .grid-layout h1 {
      margin-top: 2rem;
    }

    .home {
      background-position: center center;
      background-image: url(../assets/home/background-home-tablet.jpg);
    }
  }
  @media (min-width: 45em) {
    .home {
      background-image: url(../assets/home/background-home-desktop.jpg);
    }

    .grid-layout {
      text-align: left;
      grid-template-columns: minmax(2rem, 1fr) repeat(2, minmax(0, 40rem)) minmax(2rem, 1fr);
      padding-bottom: max(6rem, 20vh);
      align-items: end;
    }

    .grid-layout p {
      max-width: 50ch;
    }

    .grid-layout > *:first-child {
      grid-column: 2;
    }

    .grid-layout > *:last-child {
      grid-column: 3;
    }
  }
</style>
