---
import logo from "../assets/shared/logo.svg";
---

<header class="primary-header flex">
  <div>
    <img src={logo} alt="space tourism logo" class="logo" />
  </div>
  <button class="mobile-nav-toggle" aria-controls="primary-navigation" type="button"
    ><span class="sr-only" aria-expanded="false">Menu</span></button
  >
  <nav>
    <ul id="primary-navigation" data-visible="false" class="primary-navigation underline-indicators flex">
      <li>
        <a tabindex="2" class="ff-sans-cond uppercase text-white letter-spacing-2" href="/"><span aria-hidden="true">00</span>Home</a>
      </li>
      <li>
        <a class="ff-sans-cond uppercase text-white letter-spacing-2" href="/destination"><span aria-hidden="true">01</span>Destination</a>
      </li>
      <li>
        <a class="ff-sans-cond uppercase text-white letter-spacing-2" href="/crew"><span aria-hidden="true">02</span>Crew</a>
      </li>
      <li>
        <a class="ff-sans-cond uppercase text-white letter-spacing-2" href="/technology"><span aria-hidden="true">03</span>Technology</a>
      </li>
    </ul>
  </nav>
</header>

<script>
  const navToggle = document.querySelector(".mobile-nav-toggle");
  const nav = document.querySelector(".primary-navigation");

  // setup current page
  const navLinks = nav.querySelectorAll("a");
  navLinks.forEach((link) => {
    console.log(link.getAttribute("href"));

    if (link.getAttribute("href") === window.location.pathname) {
      link.setAttribute("aria-current", "page");
    }
  });

  // manage menu button
  navToggle.addEventListener("click", () => {
    const visibility = nav.getAttribute("data-visible");
    if (visibility === "false") {
      nav.setAttribute("data-visible", "true");
      navToggle.setAttribute("aria-expanded", "true");
    }
    if (visibility === "true") {
      nav.setAttribute("data-visible", "false");
      navToggle.setAttribute("aria-expanded", "false");
    }
  });
</script>

<style>
  .logo {
    margin: 1.5rem clamp(1.5rem, 5vw, 3.5rem);
  }

  .primary-header {
    justify-content: space-between;
    align-items: center;
  }

  .primary-navigation {
    --underline-gap: 2rem;
    --gap: clamp(1.5em, 5vw, 3.5em);
    list-style: none;
    padding: 0;
    margin: 0;
    background-color: hsl(var(--clr-dark) / 0.95);
  }

  .primary-navigation a {
    text-decoration: none;
  }

  .primary-navigation a > span {
    font-weight: 700;
    color: hsl(var(--clr-white));
    margin-right: 0.5em;
  }

  @supports (backdrop-filter: blur(1rem)) {
    .primary-navigation {
      background: hsl(var(--clr-white) / 0.05);
      backdrop-filter: blur(1.5rem);
    }
  }

  .mobile-nav-toggle {
    display: none;
  }

  @media (max-width: 35rem) {
    .primary-navigation {
      --underline-gap: 0.5rem;
      flex-direction: column;
      position: fixed;
      inset: 0 0 0 30%;
      padding: min(20rem, 15vh) 2rem;
      z-index: 1000;
      transform: translateX(100%);
      transition: transform 500ms ease-in-out;
    }

    .primary-navigation[data-visible="true"] {
      transform: translateX(0);
    }

    .mobile-nav-toggle[aria-expanded="true"] {
      background-image: url(../assets/shared/icon-close.svg);
    }

    .mobile-nav-toggle:focus-visible {
      outline: 5px solid white;
      outline-offset: 5px;
    }

    .primary-navigation.underline-indicators > * {
      border: 0;
    }

    .mobile-nav-toggle {
      display: block;
      position: absolute;
      z-index: 2000;
      right: 1rem;
      top: 2rem;
      background: transparent;
      border: 0;
      background-image: url(../assets/shared/icon-hamburger.svg);
      background-repeat: no-repeat;
      background-position: center;
      width: 1.5rem;
      aspect-ratio: 1;
      cursor: pointer;
    }
  }

  @media (min-width: 35em) {
    .primary-navigation {
      padding-inline: clamp(3em, 7vw, 7em);
    }
  }

  @media (min-width: 35em) and (max-width: 44.999em) {
    .primary-navigation a > span {
      display: none;
    }
  }

  @media (min-width: 45em) {
    .primary-header:after {
      content: "";
      display: block;
      position: relative;
      height: 1px;
      width: 100%;
      background: hsl(var(--clr-white) / 0.25);
      z-index: 10;
      order: 1;
      margin-right: -2.5rem;
    }

    nav {
      order: 2;
    }

    .primary-navigation {
      margin-block: 2rem;
    }
  }
</style>
